article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.App {
  position: relative;
  height: 100vh; }

ul {
  padding: 0;
  list-style: none; }

a, a:visited, a:active {
  text-decoration: none;
  color: inherit; }

h1 {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem; }

h4 {
  font-weight: 400;
  font-size: .75rem; }

.wrapper {
  margin: 0 auto;
  width: 90%; }

.row {
  display: flex;
  position: relative;
  width: 100%; }
  .row .half {
    width: 50%; }
  .row.spaceBetween {
    justify-content: space-between; }

.relative {
  position: relative; }

header, footer {
  display: flex;
  align-items: center;
  background: #723FED;
  color: white; }

header {
  height: 15vh; }

footer {
  height: 5vh; }
  footer a, footer h4 {
    font-size: 1rem;
    width: auto;
    margin: 0;
    transform: scale(1);
    transition: transform .3s; }
  footer a:hover {
    transform: scale(1.1); }

.repoList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: background .3s, color .3s, border .3s; }
  .repoList h4 {
    margin: 0.5rem; }

.moveRepoButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #723FED;
  padding: 0;
  text-decoration: none;
  font-size: 0.75rem; }
  .moveRepoButton:hover {
    text-decoration: underline; }

.floatingLabel {
  font-size: .85rem;
  padding: 1rem; }
  .floatingLabel__label {
    position: absolute;
    padding: .5rem 0;
    top: 0rem;
    right: 0;
    bottom: 0;
    left: .3rem;
    transition: top .3s, bottom .3s; }
  .floatingLabel__input {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid black;
    border-radius: .25rem;
    outline: none; }
    .floatingLabel__input:focus, .floatingLabel__input:hover, .floatingLabel__input:valid {
      border: 1px solid #723FED; }
      .floatingLabel__input:focus + label, .floatingLabel__input:hover + label, .floatingLabel__input:valid + label {
        bottom: 100%;
        top: -100%; }
  .floatingLabel__submit {
    background: #723FED;
    color: white;
    width: calc(25% - .5rem);
    padding: .5rem 0;
    margin-left: 0.5rem;
    border: 1px solid transparent;
    outline: none;
    border-radius: .25rem;
    transition: border 0.3s, background 0.3s, color 0.3s, border-radius 0.2s; }
    .floatingLabel__submit:hover {
      background: white;
      border: 1px solid #723FED;
      color: #723FED; }
    .floatingLabel__submit:active {
      border-radius: 1rem; }

.searchContainer, .favouritesContainer {
  display: flex;
  align-self: stretch;
  height: 80vh;
  padding: 3rem 0 0; }

.favouritesContainer {
  background: #F1ECFE; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .repoList {
    grid-template-columns: 3fr 2fr 1fr 1fr; } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .repoList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid #723FED;
    margin-bottom: 1rem;
    padding: 1rem; }
    .repoList__heading {
      background: #F1ECFE;
      border: none; }
  .moveRepoButton {
    width: 3rem; }
  .floatingLabel__submit {
    width: 100%; }
  .favouritesContainer .repoList__heading {
    background: white;
    border: none; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .row {
    flex-wrap: wrap; }
    .row .half {
      width: 100%; }
  .floatingLabel__input {
    margin-bottom: .5rem; }
  .floatingLabel__submit {
    margin: 0;
    width: 100%; }
  .searchContainer, .favouritesContainer {
    height: inherit; } }
